{% block trix_editor_widget %}
<div class="my-3">
    {{form_widget(form)}}
    <trix-editor id="{{editor_id}}" input="{{input_id}}" required placeholder="{{placeholder}}"></trix-editor>
</div>
{% endblock %}