{% extends 'base.html.twig' %}
{% block body %}
<h2>Une erreur est survenue</h2>
<p>{{error}}</p>
    <ul>
        {% for pass in passages %}
        <li>{{ pass }}</li>
        {% endfor %}
    </ul>
    <pre>{{ result }}</pre>
{% endblock %}