<h1>Ecole Richard Cross</h1>

<p>
    Pour confirmer votre email, cliquez sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
