{% extends 'base.html.twig' %}

{% block title %}Espace numérique | {{parent()}}{% endblock %}

{% block body %}
<h1>Test pour h1</h1>
<h2>Test pour h2</h2>
<h3>Test pour h3</h3>
<h4>Test pour h4</h4>
<p class="legend">Test pour Legend</p>
<p class="strong">Test pour Strong</p>
<p>Test pour Text</p>
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Test d'une card</h2>
        <p>Avec du texte pourquoi pas</p>
        <button class="btn btn-accent">Test button</button>
    </div>
</div>
{% endblock %}
