{% extends 'base.html.twig' %}

{% block title %}Espace numérique | {{parent()}}{% endblock %}

{% block body %}
<h1>Test pour h1</h1>
<h2>Test pour h2</h2>
<h3>Test pour h3</h3>
<h4>Test pour h4</h4>
<p class="legend">Test pour Legend</p>
<p class="strong">Test pour Strong</p>
<p>Test pour Text</p>
<div class="card m-3">
    <div class="card-body">
        <h2 class="card-title">Test d'une card</h2>
        <p>Avec du texte pourquoi pas</p>
        <p><button class="btn btn-accent">Test button</button></p>
        <p><button class="btn btn-outline-primary">Test outline</button></p>
        <p><button class="btn btn-outline-warning"
            data-bs-toggle="collapse" 
            data-bs-target="#collapseTw" 
            aria-controls="collapseTw">Open accordion item</button></p>
    </div>
</div>
<div class="card accordion accordion-flush m-3">
    <div class="accordion-item">
        <button class="accordion-button" 
            data-bs-toggle="collapse" 
            data-bs-target="#collapseOne" 
            aria-controls="collapseTw">
                <h2 class="accordion-header">Accordion Item #1</h2>
        </button>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <h3>Item title</h3>
                <strong>This is the item body.</strong>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" 
            data-bs-toggle="collapse" 
            data-bs-target="#collapseTw" 
            aria-controls="collapseTw">
                <h2 class="accordion-header ">Accordion Item #2</h2>
        </button>
        <div id="collapseTw" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <h3>Item title</h3>
                <strong>This is the item body.</strong>
            </div>
        </div>
    </div>
</div>
{% endblock %}
