{% extends 'base.html.twig' %}

{% block title %}Espace numérique | {{parent()}}{% endblock %}

{% block body %}
<div>
    <h1>E-learning @ Ecole Richard Cross</h1>
    <h2>C'est super pour apprendre en ligne.</h2>
</div>
{% endblock %}
