{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{% endblock %}

{% block body %}
<h1 class="mb-0">Espace d'apprentissage en ligne</h1>
<p class="text-center legend">de l'Ecole Richard Cross</p>
{% endblock %}
