<ul class="list-group list-group-flush">
{% for instance in field.value %}
    <li class="list-group-item">{{instance|raw}}</li>
{% else %}
    <li class="list-group-item">Aucun(e)</li>
{% endfor %}
</ul>