{% block header %}
<nav class="navbar">
    <ul class="nav">
        <li class="nav-item"><a href="/" class="nav-link">Accueil</a></li>
    </ul>
        <ul class="nav place-self-end">
            <li class="nav-item">
                {% if app.user %}
                    <a href="{{ path('app_logout') }}">Logout</a>
                {% else %}
                    <a class="nav-link" href="{{ path('app_login')}}" >S'identifier</a>
                {% endif %}
        </li>
    </ul>
</nav>
{% endblock %}
