{% block header %}
<nav>
    <a href="{{path('app_stagiaire_index')}}">Stagiaires</a>
    <a href="{{path('app_certification_index')}}">Certifications</a>
    <a href="{{path('app_passage_certification_index')}}">Passages à une certification</a>
</nav>
{% endblock %}
