{% set url = '/uploads/' ~ block.media.url %}
<figure class="rounded-3 bg-info-subtle d-flex my-2 mx-auto py-2 px-3 gap-3 justify-content-between align-items-center" 
style="width: fit-content;">
    <i class="ms-2 text-info fa-solid fa-paperclip opacity-25 display-5"></i>
    <figcaption>{{block.content|replace({"h1":"h4"})|raw}}</figcaption>
    <a href="{{url}}" target="_blank" class="btn btn-outline-info">
        <i class="fas fa-download fa-2xl"></i> Télécharger
    </a>
</figure>