<div class="bg-info-subtle p-3 my-2 rounded d-flex gap-3 align-items-center fs-6">
    <i class="fa-solid fa-circle-info fa-2xl text-info"></i>
    <div>
        {{block.content|raw}}
    </div>
</div>