<div class="bg-warning-subtle p-3 my-2 rounded d-flex gap-3 align-items-center fs-6">
    <i class="fa-solid fa-circle-question fa-2xl text-warning"></i>
    <div>
        {{block.content|raw}}
    </div>
</div>