@use "./_mixins.scss" as m;
/*
    CUSTOM VARIABLES
*/
$theme: (
    /* COLOURS */
    // Other than primary
    beige: #CEB5A7,
    beige-dark: #948781,
    // Backgrounds
    primary-bg-light : rgba($primary, 8%),
    primary-bg-medium : rgba($primary, 25%),
    primary-bg-strong : rgba($primary, 40%),
    dark-bg: rgba($dark, 40%),
    light-grey: $gray-200,
    dark-grey: $gray-600,

    /* LAYOUT */
    radius: $border-radius-lg,
);

/* HEADER */

/* FOOTER */
footer {
    background-color: $light;

    a {
        @include m.strongText;
        text-decoration: none;
        color: $dark;
    }
}

/* TYPOGRAPHY */
// Titles
h1 {
    color: $primary;
    text-align: center;

    font-weight: 600;
    font-variant: small-caps;
    letter-spacing: 0.1125rem;
}

h2 {
    font-variant-numeric: oldstyle-nums proportional-nums;
    font-weight: 600;
    font-variant: all-small-caps;
}

h3 {
    font-weight: 500;
}

h4 {
    font-weight: 500;
}

legend,
.legend {
    opacity: 0.7;
    font-weight: 500;
    font-style: italic;
}

.strong,
strong {
    @include m.strongText;
}