@use "sass:color";
/*
    CUSTOM VARIABLES
*/
/* COLOURS */
// Other than primary
$beige: #ceb5a7;
$beige-dark: #948781;
// Backgrounds
$primary-bg-light: rgba($primary, 8%);
$primary-bg-medium: rgba($primary, 25%);
$primary-bg-strong: rgba($primary, 40%);
$dark-bg: rgba($dark, 40%);
$light-grey: $gray-200;
$dark-grey: $gray-600;

$radius: $border-radius-lg;

.bg-info-light {
	background-color: color.scale($info, $lightness: 90%);
}

header nav,
footer {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

/* HEADER */
header {
	.nav-item {
		font-size: 1.25rem;
		font-weight: 500;
	}

	.dropdown-item:hover {
		background-color: var(--bs-primary-bg-subtle);
	}

	.navbar-toggler {
		border: none;
		padding: 0;
		margin-right: 1.2rem;

		&::after,
		&:focus,
		&-icon:focus,
		&.collapsed {
			outline: none;
			box-shadow: none;
		}

		&:hover,
		&:focus:hover {
			color: var(--bs-primary-bg-subtle);
		}

		&:focus {
			color: var(--bs-primary);
		}
	}

	.log-action {
		font-size: 1rem;
		font-style: italic;
		font-weight: bolder;
	}
}

/* FOOTER */
footer {
	background-color: $light;
}

a {
	font-weight: 500;
	text-decoration: none;
	color: $dark;

	&:hover {
		color: $accent !important;
	}

	&:active {
		color: $primary !important;
	}

	&.badge {
		transition: all 100ms;

		&:hover {
			box-shadow: $box-shadow;
			color: $primary !important;
		}
	}
}
#reseaux, #accordion-chapter {
	a {
		color: $blue-600;

		&:visited {
			color: $blue-700;
		}
	}
}

#seminar_navbar {
	a {
		padding-left: 0;
		transition: all 100ms ease;

		&:hover {
			padding-left: 0.5rem;
		}
	}
}

/* TYPOGRAPHY */
// Titles
h1 {
	color: $primary;
	text-align: center;

	font-weight: 600;
	font-variant: small-caps;
	letter-spacing: 0.1125rem;
	font-size: 2.25rem;

	margin-bottom: 2.5rem;
}

h2 {
	font-variant-numeric: oldstyle-nums proportional-nums;
	font-weight: 600;
	font-variant: all-small-caps;
	font-size: 1.75rem;
}

h3 {
	font-weight: 500;
	font-size: 1.5rem;
}

h4 {
	font-weight: 500;
}

.smaller {
	font-size: 0.75em;
}

.tall {
	font-size: 1.1em;
}

.taller {
	font-size: 1.2em;
}

legend,
.legend {
	opacity: 0.7;
	font-weight: 500;
	font-style: italic;
}

.strong {
	font-weight: 500;
}

.white-accordion-icon {
	&::after {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	}
	&:not(.collapsed)::after {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
		transform: var(--bs-accordion-btn-icon-transform);
	}
}

/* BUILDING BLOCKS */
.card {
	box-shadow: $box-shadow;
	border-radius: $border-radius-lg;
	border: none;
}

.bg-primary-light {
	background-color: $primary-bg-strong;
}

.btn {
	&[class*="outline"] {
		border-width: 2px;
	}

	&:active {
		box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
	}
}

// Seminar specific
.seminar-content {
	max-width: 800px;

	input:checked ~ div {
		overflow: hidden;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		margin: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.75);
		transition: background-color 200ms ease;

		figure {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 99%;
			height: 99%;

			img,
			video {
				max-height: 99% !important;
				max-width: 99% !important;

				&:not(video) {
					cursor: zoom-out !important;
				}
			}

			figcaption {
				color: $white;
				background-color: $dark-bg;
				padding: 0.5rem;
				border-radius: 0.5rem;
				opacity: 1;
			}
		}
	}

	div.zoom {
		figure {
			transition: background-color 0ms;
		}

		figure img,
		figure figcaption {
			cursor: zoom-in;
		}
	}
}

.progress-bar-bg {
	border-radius: 0.5rem;
	background-color: $gray-200;
	height: 0.5rem;
	width: 70%;
	margin: 0 auto;

	.progress-bar {
		border-radius: 0.5rem;
		background-color: $success;
		height: 100%;

		&.complete {
			background-color: $primary;
		}
	}
}

#seminar_navbar {
	.focus,
	.focus.accordion-button:not(.collapsed) {
		background-color: $primary-bg-strong;
	}
	.accordion-item {
		&:not(:first-child) {
			border-top: 1px solid var(--bs-border-color);
		}
		&:not(:last-child) {
			border-bottom: 1px solid var(--bs-border-color);
		}
	}
	.accordion-button {
		border-bottom: 1px solid var(--bs-border-color);
		border-radius: $radius;
		&:not(.collapsed) {
			border-top-right-radius: $radius;
			border-top-left-radius: $radius;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			background-color: rgba($warning, 30%);
		}
	}
}

//profile specific
.profile-content {
	min-width: 40vw;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	align-self: center;
	justify-content: center;

	.highlight {
		margin: 0;
		font-weight: 600;
		font-size: 1.2rem;
	}

	.wrapper:first-child {
		box-sizing: border-box;
		display: flex;
		gap: 2rem;
	}

	.form-section-title {
		font-size: 1.25rem;
		color: var(--bs-primary);
		margin-bottom: 1rem;
	}

	.presenceWebs .list-group-item > fieldset > div,
	.lieuxActivite .list-group-item > fieldset > div {
		display: flex;
		gap: 0.5rem;
	}

	.presenceWebs .list-group-item > fieldset {
		display: flex;
		flex: auto;
	}

	.presenceWebs .list-group-item > fieldset > div {
		display: flex;
		width: 100%;
		flex: auto;

		:first-child {
			flex: 1;
		}

		:last-child {
			flex: 2;
		}
	}
}

.profile-card {
	border-radius: $radius;
	border: 1px solid var(--bs-primary-bg-subtle);
	display: flex;
	flex-direction: column;
	padding: 1rem;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);

	&.accordion {
		padding: 0;

		h2 button {
			background-color: inherit;
		}

		p {
			margin: 0;
		}
	}
}

.status-badge {
	justify-content: center;
	align-items: center;
	background-color: $beige-dark;
	color: white;

	.status {
		font-size: 1.5rem;
		font-weight: 700;
	}

	&-a {
		background-image: radial-gradient(
			circle,
			rgba(34, 46, 80, 1) 32%,
			rgba(255, 249, 237, 1) 67%,
			rgba(206, 181, 167, 1) 75%,
			rgba(34, 46, 80, 1) 89%
		);
	}

	&-f {
		background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(148, 135, 129, 1) 64%, rgba(34, 46, 80, 1) 100%);
	}

	&-s {
		background-image: linear-gradient(
			90deg,
			rgba(184, 105, 199, 1) 15%,
			rgba(145, 0, 178, 1) 66%,
			rgba(175, 82, 194, 1) 100%
		);
	}

	&-i {
		background-image: radial-gradient(
			circle,
			rgba(145, 0, 178, 1) 32%,
			rgba(255, 249, 237, 1) 58%,
			rgba(145, 0, 178, 1) 80%
		);
	}
}

.small-cta {
	font-size: 0.85rem;
	align-self: flex-end;
	margin-top: auto;
}

form[name="avatar"] {
	width: 30vw;
}

// Trix fix
.trix-button-group--file-tools {
	display: none !important;
}
