{% extends 'base.html.twig' %}

{% block title %}Edit PassageCertification{% endblock %}

{% block body %}
    <h1>Edit PassageCertification</h1>

    {{ include('passage_certification/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_passage_certification_index') }}">back to list</a>

    {{ include('passage_certification/_delete_form.html.twig') }}
{% endblock %}
