{% set media = entity.instance.avatar %}
    {% if media is null %}
        <p class="m-0 badge badge-secondary p-2 rounded-circle fs-6"><i class="fa-regular fa-user text-secondary"></i></p>
    {% else %}
        {% set url = "uploads/"~media.url|default('') %}
        <object style="max-width:32px; max-height:32px">
            {% if media.type|lower == 'image' %}
                <img src={{url}}>
            {% else %}
                <p class="bg-danger text-light text-bold">Une erreur est survenue : l'avatar n'est pas une image.</p>
            {% endif %}
        </object>
    {% endif %}