{% set media = user.avatar ?? null %}
{% if media is null or media.url is empty or media.type|lower != 'image'%}
    <p class="m-0 badge badge-secondary p-3 rounded-circle fs-3"><i class="fa-regular fa-user text-secondary"></i></p>
{% else %}
    {% set url = "/uploads/"~media.url|default('') %}
    <img style="object-fit:cover; width:{{size}}px; height:{{size}}px" class="rounded-circle" alt="Avatar de {{user}}" src={{url}}>
{% endif %}